.vs/
App.Api/App.Api.csproj.user
App.Api/.vs/
App.Api/obj/
App.Domain/obj/
App.Application/obj/
App.Infrastructure/obj/

App.Api/bin/
App.Domain/bin/
App.Application/bin/
App.Infrastructure/bin/
/App.Api/App.Api.csproj.user
